{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
Bernie Eats - login
{% endblock title %}

{% block main %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card">
        <h5 class="card-header text-center"><i class="fas fa-utensils"></i> Bernie Eats <i
                class="fas fa-thumbs-up"></i></h5>
        <div class="card-body">
          <p class="card-text">
          <form action="{% url 'account:login' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-group">
              <button class="btn btn-success btn-block">ログイン</button>
            </div>
          </form>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main %}
