[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
django = "*"
django-bootstrap4 = "*"
psycopg2-binary = "*"
django-environ = "*"
dj-database-url = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python manage.py runserver 0.0.0.0:8000 --settings config.local_settings"
lint = "flake8 --show-source ."
