{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% sass_src 'scss/bootstrap.scss' %}">
  <link rel="stylesheet" href="{% static 'css/all.css' %}">
  <title>{% block title %}BernieEats{% endblock title %}</title>
</head>
<body>
<div id="app" class="container-fluid">
{% block main %}{% endblock main %}
</div>
<script src="{% static 'js/jquery-3.4.1.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/vue.js' %}"></script>
<script src="{% static 'js/axios.js' %}"></script>
{% block script %}{% endblock script %}
</body>
</html>